# ============================================
# КОНФИГУРАЦИЯ ПОДКЛЮЧЕНИЯ К БАЗАМ ДАННЫХ
# ============================================

# АКТИВНАЯ БАЗА ДАННЫХ (выберите одну):
# POSTGRESQL - серверная база
# MSSQL - локальная база в Docker
ACTIVE_DB=MSSQL

# ============================================
# PostgreSQL (сервер)
# ============================================
POSTGRESQL_URL=jdbc:postgresql://3e24e-rw.db.pub.dbaas.postgrespro.ru:5432/dbstud
POSTGRESQL_USER=kondratiev_kd
POSTGRESQL_PASSWORD=Qi&o5de0$%M6
POSTGRESQL_DRIVER=org.postgresql.Driver

# ============================================
# SQL Server (локально в Docker)
# ============================================
MSSQL_URL=jdbc:sqlserver://localhost:1433;databaseName=master;encrypt=false;trustServerCertificate=true;
MSSQL_USER=sa
MSSQL_PASSWORD=YourStrong@Passw0rd123!
MSSQL_DRIVER=com.microsoft.sqlserver.jdbc.SQLServerDriver